/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body{
  font-family: 'Advent Pro', sans-serif;

}
.boton-login{
  background: none;
  color : #ff4081; 
  border: solid 0.5px #ff4081;
  width: 100%;
 
}
.modal textarea {
	border: solid 0 #999;
	width: 100%;
	font-size: 1.3em; 
	box-shadow: 0;
	color: #880e4f;
  height: 4em;
  min-height: 4em;
}


.modal textarea:focus {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0px 0px rgba(229, 103, 23, 0.075)inset, 0 0 0px rgba(255,144,0,0.6);
    outline: 0 none;
   }

.varias {
  overflow: hidden !important;
}
.varias img{
    position: relative !important;
     margin:-200px -80px -70px -50px !important;
   
     max-width: 100%;
     width: 10%;
}

.usuarioPost {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom:0 !important;  
  margin-bottom: 0 !important;  
}

.usuarioPost small {
  display: block; 
  margin-top:-1.55em;
  padding-left: 3.5em;
  font-size: 0.8em;

}

.texto p{
  padding-left: 0.5em !important ;
  padding-right: 0.5em !important ;
  padding-bottom: : 0 !important ;
  margin-bottom: 0 !important;
 font-size: 1.8em; 
}
.card-image{
  margin-top: 0  !important;
}
body{
  background-color:#f9f2f4; 
}
.adjuntos{
  background-color:#f9f2f4;
  margin-left: 0.5em !important ;
  margin-right: 0.5em !important ;
  padding: .5em !important ;
  margin-bottom: 0 !important;
  font-size: 1.5em; 
}
.tum{
  height: 4em !important ;
  max-height: 4em !important;
  overflow: hidden !important;

}
#postFotos{
  height:4em !important;
  max-height: 4em !important;
  overflow: hidden !important;
  margin-bottom: 0 !important;

}

#postAdjuntos {
  height: 4em;
  max-height: 4em !important;
  min-height: 4em !important;
  overflow: hidden !important;

}
.bottom-sheet {
  height: 23em !important;
  min-height: 23em !important;

}
.galeria div{
      overflow: hidden !important;
      border: solid 0.2em #ffffff;

}
.tump i {
  margin-top:-2em ;
  color: #fff;
}

.comentarios textarea {
	border: solid 0 #999;
	width: 100%;
	box-shadow: 0;
	color: #880e4f;
	height:  2em !important;

  
  
}

.comentarios textarea:focus {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0px 0px rgba(229, 103, 23, 0.075)inset, 0 0 0px rgba(255,144,0,0.6);
    outline: 0 none;

   }
.comentarios center{
 -moz-border-radius: 1em;
 -webkit-border-radius:1em;
 background: #f9f2f4;
 margin: 0.5em;
}
.comentarios .com{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	background: #f9f2f4;
	-moz-border-radius: 1em;
 -webkit-border-radius:1em;

}
.comentarios .texto-comentario{
	margin-left: 3em;
	margin-top: -1em !important;

}
#postColores .active {
	border: solid 1px  #f9f2f4;
}
.textoVerde {
	color:#000000 !important;
	background-color: #4caf50 ;
	text-align: center;

}
.textoAzul {
	color:#000000 !important;
	background: #2196f3;
	text-align: center;
}
.textoNaranja {
	color:#000000 !important;
	background: #ff9800 ;
	text-align: center;
}
.textoRojo {
	color:#FFFFFF !important;
	background: #880e4f  ;
	text-align: center;
}
.fondo {
	height:  20em;
	text-align: center !important;
} 
.fondo h4 {
  width: 100%;
  text-align: center !important;
}

@media only screen and (min-width: 600px) {
    #app {
      width: 60%;
      margin-left: 20%;
    }
}